@font-face {
  font-family: 'Delius Swash Caps';
  font-style: normal;
  font-weight: 400;
  src: local('Delius Swash Caps'), local('DeliusSwashCaps-Regular'), src: url("css/uXyrEUnoWApxIOICunRq7-HbywbERJ_YcOpO6Co4fHY.woff") format('woff');
}
